---
// Aqui se puede ejecutar cualquier tipo de código JavaScript
import CardLaunch from "./CardLaunch.astro";
import { getLatestLaunches } from "../services/spacex";

const launches = await getLatestLaunches();
---

<div class="grid gap-8 sm:grid-cols-2 lg:grrid-cols-3">
  <!-- Iterar un array -->
  {
    launches.map(
      ({ id, links, details, flight_number: flightNumber, success }) => (
        <CardLaunch
          id={id}
          img={links.patch.small}
          details={details}
          flightNumber={flightNumber}
          success={success}
        />
      )
    )
  }
</div>